In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/sentiment/dataset.csv")

In [3]:
df.head()

                                               input    target
0                           Wow... Loved this place.  Positive
1                                 Crust is not good.  Negative
2          Not tasty and the texture was just nasty.  Negative
3  Stopped by during the late May bank holiday of...  Positive
4  The selection on the menu was great and so wer...  Positive

In [4]:
df.to_json("./data/sentiment/dataset.json")